<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.etaishuo.99weixiao21843</key>
		<string>21843</string>
	</dict>
	<key>teamID</key>
	<string>T3KN4SYE62</string>
</dict>
</plist>
